@font-face {
    font-family: 'pressstart2p';
    src: url('fonts/pressstart2p-webfont.eot');
    src: url('fonts/pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pressstart2p-webfont.woff') format('woff'),
         url('fonts/pressstart2p-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family: 'pressstart2p', Helvetica, Arial, sans-serif;
    background-color: #000;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}